body {
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.heading {
  background-color: #79a3b1;
  text-align: center;
  display: block;
}

.container-fluid {
  width: 95%;
  padding: 0;
}

.contactcontent {
  padding-top: 6%;
}

/* *******************Navbar******************* */
.nav-item {
  font-size: 1.2rem;
  padding: 0 18px;
}

.myNavLinks {
  color: white !important;
}

.headingText {
  font-size: 30px;
  margin-left: 2%;
  color: white;
}

/* *****************MOTTO************************** */
.motto {
  height: 20%;
}

.mottoFlexbox {
  display: flex;
  max-width: 95%;
  align-items: center;
  padding: 2% 10% 1% 20%;
  color: #999b84;
}

.mottoContainer {
  display: block;
}

.mottoText {
  font-size: 25px;
  font-style: italic;
  padding-left: 5%;
}

.mottoTextLine2 {
  display: flex;
  font-size: 24px;
  align-items: center;
  padding: 2% 10% 5% 10%;
}

.script {
  color: #687980;
  margin: 100px, 400px, 50px, 400px;
  padding: 50px, 100px, 50px, 100px;
  font-style: oblique;
}

#map_canvas {
  width: 500px;
  height: 400px;
}

h1 {
  font-size: 75px;
  line-height: 2.5;
}

/* *************location ******************* */
.locationContainer {
  display: flex;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.googleMap {
  border-radius: 8px;
  max-width: 100%;
}

.details {
  font-size: 20px;
  padding: 0 200px 0 50px;
  margin-top: -150px;
}

.details h4 {
  font-size: 28px;
  padding-bottom: 5%;
}

/* ********************** Contact *********************** */
.contactContainer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  width: 90%;
}

.contactText h4 {
  font-size: 28px;
  padding-bottom: 5%;
}

.contactText {
  padding: 0 100px 0 50px;
  font-size: 20px;
}

.contactImage {
  height: auto;
  width: 700px;
  max-width: 100%;
  border-radius: 8px;
}

/* ************** First image and description overlap on main page ************** */
.detailDescription {
  min-height: 100vh;
  width: 100%;
}

.segment {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  padding-top: 2.5%;
  background-image: linear-gradient(#e8ffff, #79a3b1);
}

.descriptionBackground {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftImage #imgs {
  height: 350px;
  width: 500px;
  border-radius: 8px;
}

.leftImage {
  height: 350px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.descriptionText {
  font-size: 20px;
}

.textOne {
  width: 50%;
  height: 500px;
  padding: 35px 10px 5px 140px;
  background-color: #41aea9;
  color: white;
  z-index: 0;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: -100px;
}

.textOne h4 {
  padding-bottom: 25px;
}

/* ************** Second image and description overlap on main page **************  */
.rightImage #imgs {
  height: 350px;
  width: 500px;
  border-radius: 8px;
}

.rightImage {
  height: 350px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}

.textTwo {
  width: 50%;
  height: 500px;
  padding: 35px 160px 0 35px;
  background-color: #41aea9;
  color: white;
  font-size: 1rem;
  z-index: 0;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.textTwo h4 {
  padding-bottom: 10px;
}

@media only screen and (max-width: 1180px) {
  /* Motto section in tablet view */
  .motto {
    height: 315px;
  }

  .mottoFlexbox {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    align-items: center;
    margin: 0 auto;
    color: #999b84;
  }

  .mottoText {
    font-size: 20px;
    font-style: italic;
    padding: 0;
  }

  .mottoContainer {
    display: block;
  }

  .mottoTextLine2 {
    font-size: 20px;
    align-items: center;
    padding: 0% 5% 0.5% 5%;
  }

  /* Main description section in tablet view */
  .segment {
    height: 800px;
    background-image: linear-gradient(#e8ffff, #79a3b1);
    width: 100%;
    padding-top: 15%;
    padding-bottom: 2.5%;
  }

  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imageOne {
    width: 400px;
    height: 300px;
    z-index: 0;
  }

  .descriptionText {
    font-size: 16px;
  }

  .textOne {
    width: 400px;
    height: 350px;
    background-color: #41aea9;
    color: white;
    font-size: 10px;
    padding: 25px 20px 0 20px;
    margin: auto;
    margin-top: -10%;
    z-index: 1;
  }

  .second {
    display: flex;
    flex-direction: column-reverse;
  }

  .rightImage {
    margin: auto;
    z-index: 0;
  }

  .imageTwo {
    width: 400px;
    height: 300px;
  }

  .textTwo {
    width: 400px;
    height: 300px;
    background-color: #41aea9;
    color: white;
    font-size: 12px;
    padding: 25px 20px 0 20px;
    margin: auto;
    z-index: 1;
    margin-top: -10%;
  }

  /* *******************Location************************** */
  .locationContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2%;
    height: 800px;
  }

  .details {
    width: 400px;
    margin: 5px;
    padding: 0;
  }

  .googleMap {
    margin-top: 10px;
    display: center;
    height: 300px;
    width: 400px;
  }

  /* ********************** Contact *********************** */
  .contactContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 12%;
    width: 80%;
  }

  .contactText h4 {
    font-size: 22px;
    padding-bottom: 5%;
  }

  .contactText {
    font-size: 18px;
    padding: 0 10px 50px 5px;
  }

  .contactImage {
    display: block;
    width: 450px;
    height: 350px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 640px) {
  .motto {
    height: 100%;
  }

  .mottoFlexbox {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2.5%;
    align-items: center;
    color: #999b84;
  }

  .mottoText {
    width: 100%;
    padding: 0;
  }

  /* Main description section in mobile view */
  .segment {
    height: 700px;
    background-image: linear-gradient(#e8ffff, #79a3b1);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2.5%;
  }

  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leftImage #imgs {
    height: 250px;
    width: 340px;
    border-radius: 8px;
  }

  .imageOne {
    width: 95%;
    height: 100%;
    z-index: 0;
  }

  .descriptionText {
    font-size: 16px;
  }

  .textOne {
    width: 350px;
    height: 335px;
    background-color: #41aea9;
    color: white;
    font-size: 10px;
    margin: 0;
    margin-top: -20%;
    z-index: 1;
  }

  .second {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .rightImage {
    margin: 0;
    z-index: 0;
  }

  .rightImage #imgs {
    height: 250px;
    width: 340px;
    border-radius: 8px;
  }

  .imageTwo {
    width: 400px;
    height: 300px;
  }

  .textTwo {
    width: 350px;
    height: 335px;
    background-color: #41aea9;
    color: white;
    font-size: 12px;
    margin: 0;
    z-index: 1;
    margin-top: -20%;
  }

  .contactContainer {
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    width: 80%;
    height: 100%;
  }
}
